doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css")
    link(rel="stylesheet" href="/css/dashboard.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/v/se/dt-1.13.4/b-2.3.6/b-html5-2.3.6/datatables.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css")
    block styles
  body
    #sidebar.ui.sidebar.inverted.vertical.menu.sidebar-menu
      .item
        .header General
        .menu
          a.item
            div
              i.icon.tachometer.alternate
              |                     Dashboard
      .item
        .header
          | Administration
        .menu
          a.item(href='/dashboard/faculties')
            div
              i.university.icon
              | Manage Faculties
          a.item(href='/dashboard/students')
            div
              i.users.icon
              | Manage Students
          a.item(href='/dashboard/users')
            div
              i.user.icon
              | Manage Users
          a.item(href='/dashboard/events')
            div
              i.calendar.icon
              | Manage Events

    nav.ui.top.fixed.inverted.menu
      .left.menu
        a.sidebar-menu-toggler.item(href='#' data-target='#sidebar')
          i.sidebar.icon
        a.header.item(href='#')
          | KIXX
      .right.menu
        a.item(href='#')
          i.bell.icon
        .ui.dropdown.item
          i.user.cirlce.icon
          .menu
            // a open change password modal
            a.item(onclick="$('#changePasswordModal').modal('show')")
              i.wrench.icon
              |                     Settings
            a.item(href='#')
              i.sign-out.icon
              |                     Logout

    block content
    #changePasswordModal.ui.modal
      i.close.icon
      .header
        | Change password
      .content
        form#changePasswordForm.ui.form(method='POST')
          .field
            label Old Password
            input(type='password' name='oldPassword' placeholder='Old Password')
          .field
            label Password
            input(type='password' name='newPassword' placeholder='Password')
          .field
            label Confirm Password
            input(type='password' name='confirmPassword' placeholder='Confirm Password')
          #changePasswordErrors.ui.error.message
      .actions
        .ui.black.deny.button
          | Nope
        #changePasswordButton.ui.positive.right.labeled.icon.button
          | Yep, that's me
          i.checkmark.icon
    block modal
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js") 
    script(src="https://cdn.datatables.net/v/se/dt-1.13.4/b-2.3.6/b-html5-2.3.6/datatables.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js") 
    script(src="/js/dashboard.js") 
    script.
      $(document).ready(function() {
        $('#changePasswordButton').click(function(e) {
          e.stopPropagation();
          $('#changePasswordButton').addClass('loading');
          console.log($('#changePasswordForm input[name="oldPassword"]').val());
          $.ajax({
            url: '/dashboard/change-password',
            type: 'POST',
            data: {
              oldPassword: $('#changePasswordForm input[name="oldPassword"]').val(),
              newPassword: $('#changePasswordForm input[name="newPassword"]').val(),
              confirmPassword: $('#changePasswordForm input[name="confirmPassword"]').val()
            },
            success: function(data) {
              $('#changePasswordButton').removeClass('loading');
              $('#changePasswordModal').modal('hide');
              iziToast.success({
                title: 'Success',
                message: 'Password changed successfully',
                position: 'topRight'
              });
            },
            error: function(err) {
              $('#changePasswordButton').removeClass('loading');
              $('#changePasswordErrors').html('');
              $('#changePasswordErrors').append('<div class="header">There were some errors with your submission</div>');
              $('#changePasswordErrors').append('<ul class="list">');
              err.responseJSON.errors.forEach(function(error) {
                $('#changePasswordErrors').append('<li>' + error.msg + '</li>');
              });
              $('#changePasswordErrors').append('</ul>');
              $('#changePasswordErrors').show();
            }
          });
        });
      });
    block scripts