extend ../layout/dashboard
 

block content 
 .pusher
    .main-content
      .ui.grid.stackable.padded
        .ui.container-fluid.column
          table.ui.celled.padded.table
            thead
              tr
                th.single.line ID
                th Lastname 
                th Firstname
                th FacultyID
                th Action
            tbody
              each student in students
                tr
                  td #{student.id}
                  td #{student.lastName}
                  td #{student.firstName}
                  td #{student.facultyId}
                  td.center.aligned
                    button(type='submit' class="ui button" ) Edit
                    button(type='submit' class="ui button" ) Delete

