extends ../layout/main

block styles
  style.
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        img.image(src='https://semantic-ui.com/images/logo.png', alt='logo')
        .content
          | Log-in to your account
      form.ui.large.form
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type='text' name='email' placeholder='E-mail address')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password' name='password' placeholder='Password')
          .ui.fluid.large.teal.submit.button Login
        .ui.error.message
      .ui.message
        | New to us? 
        a(href='#') Sign Up

block scripts
  script.
    $(document).ready(function() {
      $('.ui.form').form({
        fields: {
          email: {
            identifier: 'email',
            rules: [
              {
                type: 'empty',
                prompt: 'Please enter your e-mail'
              },
              {
                type: 'email',
                prompt: 'Please enter a valid e-mail'
              }
            ]
          },
          password: {
            identifier: 'password',
            rules: [
              {
                type: 'empty',
                prompt: 'Please enter your password'
              },
              {
                type: 'length[6]',
                prompt: 'Your password must be at least 6 characters'
              }
            ]
          }
        },
        onSuccess: function(event, fields) {
          event.preventDefault();
          console.log(fields);
          $.ajax({
            url: '/login',
            type: 'POST',
            data: $('.ui.form').serialize(),
            success: function(data) {
              window.location.href = '/dashboard';
            },
            error: function(xhr, status, error) {
              // Xử lý lỗi nếu có
            }
          });
        }
      });
    })